@charset "utf-8";

form{
    width: 60%;
    height: auto;
    background:skyblue;
    margin:20px auto;
    padding: 20px;
}

label{
    display: block;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: black;
}

input{
    width: 60%;
    height: 20px;
    background: grey;
    border: none;
    color: aquamarine;
}
textarea{
    width: 60%;
    height: 70px;
    background: grey;
    border: none;
}    


