@charset "utf-8";


form{
    width: 60%;
    height: auto;
    background: skyblue;
    margin: 20px auto;
    padding: 20px;
}

label{
    display: block;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    color: black;
}

input{
    width: 60%;
    height: 20px;
    background: rgb(220, 211, 211);
    border: none;
    color: rgb(102, 13, 96);
}

textarea{
    width: 60%;
    height: 70px;
    background: grey;
    border: none;
}

#boton{
    width: 30%;
    height: 25px;
    background: salmon;
    display: block;
    color: blueviolet;
}